@page "/author/posts/create"

@rendermode InteractiveServer


@attribute [Authorize(Roles = "Author")]

@inject IBlogPostService BlogService
@inject NavigationManager NavManager

<div class="container">
	<h3>New Blog Post</h3>

	<div class="card shadow">
		<div class="card-body">
			<BlogPostForm BlogPost="new BlogPostDTO()" OnSubmit="HandleSubmit"></BlogPostForm>
		</div>
	</div>
</div>

@code {

	private async Task HandleSubmit(BlogPostDTO blogPost)
	{
		try
		{
			await BlogService.CreateBlogPostAsync(blogPost);
		}
		catch (Exception ex)
		{
			Console.WriteLine(ex);
		}

		NavManager.NavigateTo("/");
	}
}
