@inherits LayoutComponentBase

<main>
    @* Add Nav Component*@
    <NavMenu></NavMenu>

    <div class="container pt-5 pb-lg-5 pb-md-4 pb-2 my-5 flex-grow-1">
        @Body
    </div>

    @*Add Footer Component*@
    <Footer></Footer>

    @*back to top button*@
</main>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
