@using BlazorAuthTemplate.Components.UI
@inherits LayoutComponentBase

<main class="page-wrapper d-flex flex-column">
    <NavMenu />
    <div class="container pt-5 pb-lg-5 pb-md-4 pb-2 my-5 flex-grow-1">
        <div class="row">
            <div class="col-lg-9 pr-lg-4">
                @Body
            </div>
            <div class="col-lg-3">
                <SideBar />
            </div>
        </div>
    </div>

    <!-- Sidebar toggle button -->
    <button class="d-lg-none btn btn-sm fs-sm btn-primary w-100 rounded-0 fixed-bottom" type="button" data-bs-toggle="offcanvas" data-bs-target="#sidebarBlog">
        <i class="ai-layout-column me-2"></i>
        Sidebar
    </button>

    <Footer />

    <!-- Back to top button -->
    <a class="btn-scroll-top" href="#top" data-scroll aria-label="Scroll back to top">
        <svg viewBox="0 0 40 40" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <circle cx="20" cy="20" r="19" fill="none" stroke="currentColor" stroke-width="1.5" stroke-miterlimit="10"></circle>
        </svg>
        <i class="ai-arrow-up"></i>
    </a>

</main>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>

@code {

}
