@if (Category is not null)
{
	<div class="card h-100 shadow-lg mt-2">
		<div class="row g-0">
			<div class="col-12 col-md-4 square-img-container rounded-start overflow-hidden">
				<img src="@Category.ImageUrl" class="square-img" style="max-height: 200px" />
			</div>
			<div class="col-12 col-md-8">
				<div class="card-body">
					<h5 class="card-title">@Category.Name</h5>
					<p>@Category.Description</p>
					<button class="btn btn-success">Brows Posts</button>
					<button class="btn btn-outline-success">Edit Category</button>
					<button class="btn btn-outline-danger">DeleteCategory</button>
				</div>
			</div>
		</div>
	</div>
}

@code {

	[Parameter, EditorRequired]
	public CategoryDTO? Category { get; set; }

}
