<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />

    <!-- Import Google font (Inter) -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&amp;display=swap" rel="stylesheet" id="google-font">

    <!--Font Icons-->
    <link href="/assets/icons/around-icons.min.css" rel="stylesheet" />

    <!--Bootstrap Icons-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

    <!--Theme Styles & Bootstrap-->
    <link href="/assets/css/theme.min.css" rel="stylesheet" />

    <!--Custom CSS-->
    <link rel="stylesheet" href="css/themes.css" />
    <link rel="stylesheet" href="css/app.css" />
    <link rel="stylesheet" href="/app.css" />
    <link rel="stylesheet" href="BlazorAuthTemplate.styles.css" />
    <link href="favicon.png" type ="image/png" rel="stylesheet" />
    <HeadOutlet />
</head>

<body data-tm-theme="green">
    <Routes />
    <!--Theme Scripts & Bootstrap-->
    <script src="/assets/js/theme.min.js"></script>

    <!--TinyMCE-->
    <script src="_content/TinyMCE.Blazor/tinymce-blazor.js"></script>

    <script src="_framework/blazor.web.js"></script>

    <script>
        Blazor.addEventListener('enhancedload', () => {
            window.scrollTo({ top: 0, left: 0, behavior: 'smooth' });
            // use behavior: 'instant' if you want to immediately go to the top
        });
    </script>

</body>

</html>
